@use 'base/variables' as v;
@use 'base/mixins' as m;

.benefits {
    background-color: v.$primary;

    .benefits-grid {
        @include m.tablet {
            @include m.grid(5, 4rem);
        }
    }

    .benefits-content {
        grid-column: 1/4;

        h2 {
            @include m.headingBorder(v.$secondary, v.$white);
        }
    }

    .img {
        grid-column: 4/6;
        transition-property: transform;
        transition-duration: .3s;

        &:hover {
            transform: rotate(8deg) scale(1.1);
        }
    }
}